@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/alfa-slab-one");
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.section-heading{
    margin-right: 20px;
}
.section-book{
    width: 80%;
    height: 500px;
    margin: 30px auto;
    background-color: white;
}
.left{
    margin-left: 210px;
}
.right{
    margin-right: 210px;
}
.section-heading{
    padding: 40px 0px;
    text-align: center;
    color: rgb(63, 30, 30);
}
.section-heading .small-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    font-weight: 600px;
    margin-bottom: 24px;
}
.section-heading .big-title{
    font-family:"Alfa Slab One", sans-serif;
    font-weight: 60px;
    font-size:50px;
}
.form-book-table form{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.left .form-book-table,
.right .form-book-table{
      display:flex;
      flex-direction: column;
}
.form-book-table input,
.form-book-table button {
  width: 354px;
  height: 60px;
  padding: 14px 18px;
  margin-bottom: 20px;
}
.form-book-table input {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 600;
    border: solid 2px #e7e7e7;
    color: #2d2e2f;
}
.form-book-table input::placeholder{
    color:rgb(48, 46, 46);
}
.form-book-table button{
    font-family: "Alfa Slab One", sans-serif;
    color: white;
    background-color: brown;
    border-radius: 7px;
}
