* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}
html {
    font-size: 10px;
}
body {
    font-size: $fontSize;
    line-height: 1.2;
    color: $textColor;
    font-family: $font;
}
a {
    text-decoration: none;
    color: $linkColor;
}
img{
    max-width: 100%;
    height: auto;
}
ul, ol{
    list-style: none;
}
h1, h2, h3, h4, h5{
    margin: 20px 0; 
}
h1{
    font-size: 6.8rem;
}
h2{
    font-style: 5.2rem;
}
h3{
    font-style: 3.8rem;
}
h4{
    font-style: 2.8rem;
}
h5{
    font-style: 2rem;
}
p{
    margin-bottom: 15px;
}