/* ul li a[target]{
    color: red;
} */
/* ul li a[href^="https://fullstack.edu.vn/"]{
    color: red;
} */
/* ul li a[href*="fullstack.edu.vn"]{
    color: red;
} */
/* .Item-1{
    color: red;
}
.Item-2{
    color: yellow;
}
.Item-3{
    color: blue;
}
.Item-4{
    color: blueviolet;
}
[class^="Item-"]{
    border: 1px solid red;
} */
